
.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}



h2{
  text-align: center;
  font-size: larger;
}

p{
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(214, 174, 214, 0.867);
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
nav ul{
  display: inline-block;
  list-style-type: none;

}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
nav ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav ul li:hover::after{
  width: 100%;

}

.logo {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.logo a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 20px;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

.hero {
  background-image: url("assets/pics/bg.jfif");
  background-size: cover;
  background-position: center;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: rgb(255, 253, 253);
  max-width: 100%;
  text-align: center;
  position: relative;
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1rem;
  margin-bottom: 40px;
}




.para-cont {
  display: flex;
  flex-wrap: wrap;
}

.para-cont p {
  font-size: large;
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 0 50px 0 50px;
  text-align: left;
}

#aboutus{
  font-size: larger;
}

input[type="email"],
input[type="password"] {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
}

button[type="submit"] {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}


.products {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;

}

h1 {
  font-size: 44px;
  margin-bottom: 10px;
  text-align: center;
}


.product {
  padding: 20px;
  background-color:#fff(110, 60, 60);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 350px;
  height: 300px;
  margin-bottom: 10px;
}

.product h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product p {
  margin-bottom: 10px;
}

.product button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #c34d;
  color: #fff;
  cursor: pointer;
}

.product button:hover {
  background-color: #c34d;
}

/* Footer */

.footer{
  width: 100%;
  text-align: center;
  padding-top: 30px 0;

}
/* contact us */

.contact-section {
  background-color: #f2f2f2;
  padding: 20px;
}

.contact-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-section p {
  margin-bottom: 10px;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info .icon {
  margin-right: 10px;
}

.contact-info p {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}


